* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* font-size: 16px;
    letter-spacing: 0.5;
    font-family: 'Open Sans', sans-serif;;
    line-height: 1.5; */
   }
/* 
*:focus {
    outline: 2px dotted #DE2E54;
    outline-offset: 3px;
}
 */
/* Container */

.container {
    width: 100%;
    min-width: 1160x;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.site-header-action {
    display: flex;
    align-items: center;
}


.logo-box {
    position: static;
    width: 185px;
    height: 49.94px;
    left: 0px;
    top: 0px;

    }

.logo-link {
    color: #FFFFFF;

    }

 .logo-link img {
    left: 0px;
    top: 0px;
   margin: -10px -20px;

}


.logo-text {
position: absolute;
width: 119px;
height: 33px;
left: 66px;
top: 8px;
font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  
}

.logo-text:hover {
    color: #DE2E54;
}

.logo-ltext:active {
    opacity: 0.6;
}


.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
  
}

.site-header-container {
    display: flex;
   justify-content: space-between;
    align-items: center;
    
}

.sitenav-list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: 32px;
    padding: 0;
    
  
}


.sitenav-item {
    margin-right: 32px;
}

.sitenav-item:last-child {
    margin-right: 0;
}

.sitenav-link {
font-weight: 700;
font-size: 14px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
color: #222222;
text-decoration: none;

}

.sitenav-link:hover {
    color: #DE2E54;
}
.sitenav-link:active {
    opacity: 0.6;
}


.main-link {  
    display: flex;
    font-size: 14px;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 12px 24px;
   width: 189px;
height: 47px;
left: 911px;
top: 1.47px;
background: #DE2E54;
border: 2px solid #DE2E54;
box-sizing: border-box;
color: #FFFFFF;
border-radius: 8px;
text-transform: uppercase;
text-decoration: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.main-link:hover {
   color: #DE2E54;
   background: #E5E5E5;
   }


.main-link:active {
    color: #FFFFFF;
    opacity: 0.6;
   
}

.hero {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #0EB4C1;
    color: #FFF;
    
    height: 533px;
    left: 0px;
    top: 98px;
    }

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .hero-content {
        width: 500px;
    }

.hero-img {
position: absolute;
width: 423px;
height: 504px;
left: 847px;
top: 127px;

}

.hero-heading {
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Open Sans Condensed';
    font-size: 36px;
line-height: 120%;

}


.hero-text {
    margin-top: 0;
    margin-bottom: 36px;

}


.features {
    padding-top: 18px;
    padding-bottom: 1px;
    width: 1440px;
    height: 1486px;
    left: 0px;
    top: 631px;
    background: #FFFFFF;
}

.features-heading {
 width: 133px;
padding: 120px 654px 0 653px;

}

.button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 864px;
    height: 1040px;
    left: 288px;
   /*  top: 868px;  */ 
   padding-top: 56px;
   padding-bottom: 60px;
}



.frame {
    position: static;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;

}



.feature-title {



}

.info-inside  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
width: 600px;
height: 125px;
left: 264px;
top: 37.5px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 64px;
}


.services-list-one {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 0px; */
    
position: static;
width: 864px;
height: 200px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
padding: 22.5px 0px 22.5px 264px;

}


.services-list-two {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width: 864px;
height: 200px;
left: 0px;
top: 280px;
/* padding-top: 80px;
padding-bottom: 80px; */
padding: 37.5px 0px 37.5px 264px;

}


.services-list-three {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 0px; */
position: static;
width: 864px;
height: 200px;
left: 0px;
top: 560px;
margin: 80px 0px;
padding: 13.5px 0px 13.5px 264px;

}


.services-list-four {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 0px; */

position: static;
width: 864px;
height: 200px;
left: 0px;
top: 840px;
margin: 80px 0px;
padding: 37.5px 0px 37.5px 264px;

}


.main-link-bottom {
width: 189px;
height: 47px;
padding: 1319px 625px 120px 626px;
}

.site-footer {
 padding-top: 120px;  
background: #0EB4C1;
width: 1440px;
height: 253px;
left: 1px;
top: 2117px;


}

.site-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer-bottom {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
position: absolute;
width: 1440px;
height: 97.94px;
left: 0px;
top: 2370px;

background: #222222;

}

.site-footer-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   position: static;
width: 1100px;
height: 49.94px;
padding: 24px 170px 24px 170px;

}

.footernav-item {
    
    margin-right: 32px;
}

.footernav-item:last-child {
    margin-right: 0;
}


.site-footernav {
   display: flex;
   list-style: none;
   margin: 0;
   margin-right: 32px;
   padding: 0;
}

.logo-text-bottom {
width: 119px;
height: 33px;
left: 66px;
top: 8px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;

}





.logo-link-bottom img {
width: 50px;
height: 49.94px;
left: 0px;
top: 0px;
}

.logo-text-bottom:hover {
    color: #DE2E54;

}

.logo-text-bottom:active {
    color: #FFFFFF;
}


.footer-sitenav-list {
    width: 96px;
    height: 21px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    
color: #FFFFFF;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;



}


.footer-sitenav-list:hover {
    color: #DE2E54;
}


.footer-sitenav-list:active {
    color: #FFFFFF;
    opacity: 0.6;
}

.site-footer-top {
    position: absolute;
width: 1440px;
height: 235px;
left: 1px;
top: 2135px;
}
